body {
  font-family: 'Rubik', sans-serif !important;
  width: 100%;
  overflow-x: hidden;
}

.hero-desc {
  font-family: 'Montez', cursive;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 90vh;
}

.badge {
  background-color: #B02A37;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.dropdown-menu {
  margin: 4rem auto;
}

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: rgba(0, 0, 0, .05);
}
.cal-btn[disabled] {
  border: 0;
  opacity: .5;
}

.form-control-dark {
  background-color: rgba(255, 255, 255, .05);
  border-color: rgba(255, 255, 255, .15);
}

.footer {
  background-color: #B02A37;
  padding-left: 10%;
  padding-right: 10%;
}

.features {
  padding: 0% 8%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.top-banner {
  background-image: url("../images/banner-bg.png");
  background-size: cover;
}

.banner-text {
  font-size: 18px;
}

.aseelpattern {
  height: 15vh;
  width: 100%;
  background-image: url("../images/aseelPattern-one.png");
  background-repeat: repeat;  
}

.aseelpattern-footer {
  height: 10vh;
  width: 100%;
  background-image: url("../images/aseelPattern-footer.png");  
  background-repeat: repeat;  
}

.background-pattern {
  background-image: url("../images/background-white.png");  
  background-repeat: no-repeat;  
  background-position: 50% 20%;
}

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.imgbar {
  width: 100%;
}

.single-review img{
  width: 10%;
  border-radius: 50%;
}

.review-info {
  display: inline;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item-details .product-images img {
  width: 100%;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
}

.item-details .product-images .images {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 1em 1em;
  margin-top: 1em;
}

.item-details .product-info .form-group.color-option .single-checkbox {
  margin-top: 8px;
  display: inline-block;
  margin-right: 5px;
}

ol {  
  list-style-type: none;  
}  

ul {  
  list-style-type: none;  
}  